<section id="custom-footer" class="section bg-gray">
<section class="container {{ grid_size }}">
  {% if page.find('/modules/footer') %}
        {{ page.find('/modules/footer').content|raw }}
  {% endif %}
</section>
</section>
